.titulo{
    text-align: center;
    
}
.linha{
    width: 100%;
    border-bottom: 1px solid #000000;
}
.introdução{
    text-align: center;
}
.botao-preto{
    text-align: center;
    border-radius: 100px;
}
.botao{
    border-radius: 100px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

   
}